*~
*.o
*.a
.*.swp
gtkshell/gmon.out
config.mk
gtkshell/lex.yy.c
gtkshell/y.tab.c
gtkshell/y.tab.h
gtkshell/gmon.out
ACE-desktop/ACE.install
gtkshell/gtkshell
gtkshell/lex.yy.c
gtkshell/y.tab.c
gtkshell/y.tab.h
rootcat/rootcat
xshell/xshell
